<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('html-loader!./layout/head-common.html') %>
    <title><%= htmlWebpackPlugin.options.title %>--MMall电商</title>
</head>

<body>
    <%= require('html-loader!./layout/nav.html') %>
    <%= require('html-loader!./layout/header-common.html') %>
    <div class="crumb">
        <div class="w">
            <div class="crumb-con">
                <a href="./index.html" class="link">MMall</a>
                <span>></span>
                <span class="link-text"><%= htmlWebpackPlugin.options.title %></span>
            </div>
        </div>
    </div>
    <div class="page-wrap w">
        <div class="panel">
            <div class="panel-title">收货地址</div>
            <div class="panel-body address-con">
                
            </div>
        </div>
        <div class="panel">
            <div class="panel-title">商品清单</div>
            <div class="panel-body product-con">
                
            </div>
        </div>
        <div class="modal-wrap">
            
        </div>
    </div>
    <%= require('html-loader!./layout/footer-common.html') %>
</body>
</html>