


<div class="nav">
    <div class="w">
        <div class="user-infoo">
            <span class="ulogin">
                <span class="link m-login">登录</span>
                <span class="link m-reg">注册</span>
            </span>
            <span class="login hide">
                <span class="link-text user">欢迎，<em class="user-name">张敏</em></span>
                <span class="link logout">退出</span>
            </span>
        </div>
        <ul class="nav-list">
            <li class="nav-item">
                <a href="./cart.html" class="link">
                    <i class="fa fa-shopping-cart"></i>
                    购物车(<span class="cart-count">0</span>)
                </a>
            </li>
            <li class="nav-list">
                <a href="./order-list.html" class="link">我的订单</a>
            </li>
             <li class="nav-list">
                <a href="./user-center.html" class="link">个人中心</a>
            </li>
             <li class="nav-list">
                <a href="./about.html" class="link">关于mmall</a>
            </li>
        </ul>
    </div>
</div>
















