

.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: #ddd solid 1px;
    background: #fff;
}

.nav-simple .logo{
    font-weight: bold;
    font-size: 26px;
    color: #c60023;
}










