
/*css reset*/
*{
    margin: 0;
    padding: 0;
}
ol,ul{
    list-style: none;
}

img{
    border: none;
    display: block;
}
label{
    cursor: pointer;
}
input[type="checkbox"]{
    cursor: pointer;
}
body{
    background: #f6f6f6;
    font-size: 12px;
    line-height: 1.5;
    font-family: tahoma, '微软雅黑', arial, sans-serif;
}

/*定宽布局*/
.w{
    width: 1080px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}


/*全局通用样式*/

.link{
    text-decoration: none;
    color: #777;
    cursor: pointer;
}
.link:hover{
    color: #e80012;
}

.link-text{
    text-decoration: none;
    color: #777;
}


.hide{
    display: none;
}

.btn, .btn-mini{
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border: none;
    outline: none;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    background: rgba(198,0,35,0.8);
    cursor: pointer;
}

.btn:hover, .btn-mini:hover{
    background: rgb(198,0,35);
    color: #fff;
}


.btn-mini{
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding: 0 10px;
}



.loading{
    display: block;
    width: 65px;
    height: 65px;   
    background: url('../../image/icon/loading.gif') no-repeat;
    border: #ddd solid 1px;
    border-radius: 5px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    margin: 10px auto;
}




/* panel面板布局 */
.panel{
    padding: 10px;
    margin-bottom: 10px;
    background: #fff;
}

.panel .panel-title{
    padding: 10px;
    font-size: 14px;
    color: #666;
    font-weight: bold;
    border-bottom: #ccc solid 1px;
}

.panel .panel-body{
    padding: 10px;
    overflow: hidden
}




.footer{
    padding: 20px 0;
    background: #eee;
    margin-top: 30px;
}

.footer .links{
    text-align: center;
    color: #666;
    line-height: 30px;
}

.footer .links .link{
    padding: 0 10px;
}

.footer p{
    text-align: center;
    color: #666;
    line-height: 30px;
}









